# Python cache files
__pycache__/
*.py[cod]
.pytest_cache/

# macOS system files
.DS_Store

# Distribution / packaging
*.egg-info/
dist/
build/

# Virtual environment
venv/
.venv/
ENV/

# IDE settings
.vscode/
.idea/
